/* 4/18/2024 The program in this file is the individual work of Preston Byk Hanako21*/
body {
    background-color: #2e2e2f;
    color: #ececec;
    width: vw;
    height: vh;
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}
#month {
    background-color: transparent;
    pointer-events: none;
    text-align: center;
    color: #ffffff;
}
#calendar {
    height: 60vh;
    padding: 0px 20px 0px 20px;
}
#days {
    background-color: #252526;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
}
#month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #252526;
}
.changer {
    cursor: pointer;
    color: #fffff;
}

/* makes all the dates into a grid and customizes the collection of divs the script adds*/
#dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1px;
}
/* stylizes each div in the calender */
#dates div {
    padding: 20px;
    background-color: #a1a1a1;
    color: #252526;
    text-align: center;
}
/*stylizes the current day*/
#dates div.today {
    background-color: #d91817;
    color: #ececec;
}
/*stylizes the days with tasks*/
#dates div.taskDays {
    background-color: #437db9;
    color: #ececec;
}
#taskBox {
    padding: 0px 20px 0px 20px;
    height: 30vh;
}
