<head>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static',filename='calendar.css') }}"
    />
    <title>Task Calender</title>
</head>
<body>
    <div id="calendar">
        <form
            action="{{ url_for('calendar') }}"
            id="month-selector"
            method="POST"
        >
            <input
                type="submit"
                id="prev"
                name="prev"
                class="changer"
                value="<"
            />
            <input id="month" name="currentMonth" value="{{month}}"> </input>
            <input
                type="submit"
                id="next"
                name="next"
                class="changer"
                value=">"
            />
        </form>
        <div id="days"></div>
        <div id="dates"></div>
    </div>

    <div id="taskBox"></div>
</body>
<script src="{{url_for('static', filename='calendar.js')}}"></script>
