<!--4/18/2024 The program in this file is the individual work of Judas Smith jms21bi-->

<html>
    <p>Categories Page</p>
    <h2>Current Categories:</h2>
    {% for row in rows %}
    <div>
        <label>{{ row['Id']}}: {{ row['Name']}}</label>
    </div>
    {% endfor %}

    <h2>Add a category:</h2>
    <form action = "{{ url_for('categories') }}" method="POST">
        <input type="hidden" name="Action" value="Add">
        <input type="text" name="Name" value="Enter Name">
        <input type="submit" value="Submit">
    </form>

    <h2>Delete a category:</h2>
    <form action = "{{ url_for('categories') }}" method="POST">
        <input type="hidden" name="Action" value="Delete">
        <input type="text" name="Id" value="Enter Id">
        <input type="submit" value="Submit">
    </form>

    <h2>Update a category:</h2>
    <form action = "{{ url_for('categories') }}" method="POST">
        <input type="hidden" name="Action" value="Update">
        <input type="text" name="Id" value="Enter Id">
        <input type="text" name="Name" value="Enter New Name">
        <input type="submit" value="Submit">
    </form>

    <a href="/home">Back to home</a>
</html>