<!--3/27/2024 The program in this file is the individual work of Aidan McGill amm18z-->

<html>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {%endfor%}
        {%endif%}
    {%endwith%}

    <body>
        <h1> Task Tracker </h1>
        <form action = "{{ url_for('createAccountForm') }}" method = "POST">

         <h2> Create An Account </h2>

         <br>Username:<input type ="text" name = "Username" />
         <br>Password:<input type ="text" name = "Password" />
            
         <br><input type = "submit" value = "Submit" /><br>

         <a href = "/">Back to Login Page.</a>

      </form>
    </body>
</html>