<!--2/21/2024 The program in this file is the individual work of Rafael Cardoso RDC21C, and Stefano Sanidas sas19t-->

<!doctype html>
<html>
	<style>
	html {font-family: monospace;
		  font-size: 125%}
	</style>
	<body>
		<h1> Select a Task to Delete </h1>
		  <form action="{{ url_for('deletingtsk') }}" method="POST">
            <table>
                {% for row in rows %}
                <tr>
                    <td>{{ row["Id"] }}:</td>
                    <td>{{ row["Name"] }}</td>
                    <td><input type="radio" name="Id" value="{{ row['Id'] }}"></td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <input type="submit" value="Submit" style="font-family:monospace;" >
        </form>
        <h2><a href="/home">Back to home</a></h2>
    </body>
</html>