<!--2/21/2024 The program in this file is the individual work of Rafael Cardoso RDC21C-->

<html>
    <body>
        <h1> All Upcoming Tasks </h1>
        <table border = 1>
         <thead>
            <td>Task</td>
            <td>Due Date</td>
            <td>Description</td>
            <td>Priority</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["Name"]}}</td>
               <td>{{row["DueDate"]}}</td>
               <td> {{ row["Description"]}}</td>
               <td>{{row["Priority"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/home">Back to home</a>

    </body>
</html>