<!--2/21/2024 The program in this file is the individual work of Rafael Cardoso RDC21C-->

<html>
   <body>
	<h1> Your Upcoming Tasks </h1>
	 <a href = "/listtask/a/id">Ascending ID</a>
	 <a href = "/listtask/a/name">Ascending Name</a>
	 <a href = "/listtask/a/descr">Ascending Description</a>
	 <a href = "/listtask/a/creation_date">Ascending Date Made</a>
	 <a href = "/listtask/a/due_date">Ascending Due Date</a>
	 <a href = "/listtask/a/priority">Ascending Priority</a></br>
	 <a href = "/listtask/d/id">Descending ID</a>
	 <a href = "/listtask/d/name">Descending Name</a>
	 <a href = "/listtask/d/descr">Descending Description</a>
	 <a href = "/listtask/d/creation_date">Descending Date Made</a>
	 <a href = "/listtask/d/due_date">Descending Due Date</a>
	 <a href = "/listtask/d/priority">Descending Priority</a></br>
      <table border = 1>
         <thead>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
            <td>Date Made</td>
            <td>Due Date</td>
            <td>Priority</td>
            <td>User_ID</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["Id"]}}</td>
               <td>{{row["Name"]}}</td>
               <td>{{row["Description"]}}</td>
               <td>{{row["CreationDate"]}}</td>
               <td>{{row["DueDate"]}}</td>	
               <td>{{row["Priority"]}}</td>	
               <td>{{row["User_id"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = /home >Go back to home page</a>
      
   </body>
</html>